.split-planner {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.split-planner h2 {
  margin-bottom: 10px;
}

.split-planner input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.workout-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.workout-box {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}

.workout-box ul {
  padding-left: 20px;
  list-style-type: disc;
  margin: 10px 0;
}

.workout-box li {
  margin-bottom: 5px;
}

.selected-workouts {
  margin-top: 20px;
}

.selected-workout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 8px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}


